{% extends "layout.html" %}
{% block body %}
<div class="block1">
<meta http-equiv="refresh" content="6">
<h1>Hello there !
<link rel="styles.css",href="templates/styles.css">
<a href="http://127.0.0.1:8001/">Search another topic</a>
</h1>

<h2>Type what you like to see :):</h2>



<img src={{name1}} alt="Mountain View" width= "300" height="300">

<img src={{name2}} alt="Mountain View" width= "300" height="300">

<img src={{name3}} alt="Mountain View" width= "300" height="300">
<style>
body {
  background-color: linen;
}
</style>

</div>

{% endblock %}
